# Created by https://www.toptal.com/developers/gitignore/api/react,yarn,storybookjs
# Edit at https://www.toptal.com/developers/gitignore?templates=react,yarn,storybookjs

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### StorybookJs ###
# gitignore template for the Storybook, UI guide for front apps
# website: https://storybook.js.org/

storybook-static/

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines

# and uncomment the following lines
# .pnp.*

# End of https://www.toptal.com/developers/gitignore/api/react,yarn,storybookjs
